{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>About the Project</h1>
    <h2>Project Team and Contributions</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Jared Tracey</strong>
            <ul>
                <li>Implemented security measures for stored user data</li>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Valery Pena</strong>
            <ul>
                <li>Conducted research on key areas of cybersecurity:</li>
                <ul>
                    <li>Phishing Awareness</li>
                    <li>Password Security</li>
                    <li>Social Engineering</li>
                    <li>Malware Detection and Prevention</li>
                    <li>Data Protection</li>
                    <li>Incident Response</li>
                </ul>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Alejandro Terzini</strong>
            <ul>
                <li>Tracked user data and monitored completion rates</li>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Daniel Rentz</strong>
            <ul>
                <li>Hosted the website</li>
                <li>Developed training materials, including:</li>
                <ul>
                    <li>Hands-on activities</li>
                    <li>Simulations</li>
                    <li>Quizzes</li>
                    <li>Videos</li>
                </ul>
                <li>Developed the backend code</li>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Roldy Augustin</strong>
            <ul>
                <li>Developed the front-end of the website using:</li>
                <ul>
                    <li>HTML, CSS, and JavaScript</li>
                    <li>Implemented design</li>
                    <li>Ensured usability goals (Learnability, Memorability, Efficiency, Feedback)</li>
                </ul>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}