{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p>Project Team: Jared Tracey, Valery Pena, Alejandro Terzini, Daniel Rentz, Roldy Augustin</p>
    <h3>Contributions:</h3>
    <ul>
        <li>Valery Pena: Researched and developed content on password security.</li>
        <li>Alejandro Terzini: Tracked user data and completion rates.</li>
        <li>Daniel Rentz: Hosted the website, developed training materials, and coded the backend.</li>
        <li>Roldy Augustin: Coded the front-end for the website.</li>
    </ul>
</div>
{% endblock %}
