{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>About the Project</h1>
    <h2>Project Team and Contributions</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Jared Tracey</strong>
            <ul>
                <li>Implement Security Measures for stored user data</li>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Valery Pena</strong>
            <ul>
                <li>Conducted research on areas of cybersecurity to focus on:</li>
                <ul>
                    <li>Phishing Awareness</li>
                    <li>Password Security</li>
                    <li>Social Engineering</li>
                    <li>Malware Detection and Prevention</li>
                    <li>Data Protection</li>
                    <li>Incident Response</li>
                </ul>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Alejandro Terzini</strong>
            <ul>
                <li>Track user data and completion rate</li>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Daniel Rentz</strong>
            <ul>
                <li>Host website</li>
                <li>Developed training material:</li>
                <ul>
                    <li>Hands-on activities</li>
                    <li>Simulations</li>
                    <li>Quizzes</li>
                    <li>Videos</li>
                </ul>
                <li>Coded the backend</li>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>Roldy Augustin</strong>
            <ul>
                <li>Coded the front-end for the website:</li>
                <ul>
                    <li>HTML, CSS, and JavaScript</li>
                    <li>Design implementation</li>
                    <li>Usability goals (Learnability, Memorability, Efficiency, Feedback)</li>
                </ul>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}