{% extends "layout.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Contact Us</h2>
            <p class="text-center">If you have any questions, feel free to reach out to us!</p>
            <form id="contact-form" action="{{ url_for('users.contact') }}" method="POST" class="contact-form">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control bg-dark text-white", placeholder="Enter your name") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control bg-dark text-white", placeholder="Enter your email") }}
                </div>
                <div class="form-group">
                    {{ form.message.label(class="form-label") }}
                    {{ form.message(class="form-control bg-dark text-white", placeholder="Enter your message", rows="4") }}
                </div>
                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                <button type="submit" class="btn btn-primary btn-block mt-3" id="submit-button">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
<script>
grecaptcha.ready(function() {
    grecaptcha.execute('{{ recaptcha_site_key }}', {action: 'contact'}).then(function(token) {
        document.getElementById('g-recaptcha-response').value = token;
    });
});

document.getElementById('contact-form').addEventListener('submit', function(event) {
    event.preventDefault();
    grecaptcha.ready(function() {
        grecaptcha.execute('{{ recaptcha_site_key }}', {action: 'contact'}).then(function(token) {
            document.getElementById('g-recaptcha-response').value = token;
            document.getElementById('contact-form').submit();
        });
    });
});
</script>
{% endblock %}